$font-size-base: 18px;
body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: $font-size-base;
}
.smallText {
  font-size: calc(#{$font-size-base} - 6px);
}
.bolder {
  font-weight: bolder;
}
.bg-offWhite {
  background-color: #f8f8f8;
}
.centerDiv {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.badge {
  font-weight: normal !important;
}
.eachMarBtm div {
  margin-bottom: 5%;
}
/* tab  */
@media (max-width: 992px) {
}
/* mobile  */
@media (max-width: 768px) {
}
